.textoHeader {
    margin:0;
    padding: 30px;
    color: lightslategray;
    text-align: center;
    font-family: fantasy;
    
  }

  .header {
    background-color: wheat;
  }
  .botonheader{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }